@use "base/variables" as v;
@use "base/mixins" as m;

.tarjetas {
  @include m.tablet {
    &__grid {
      @include m.grid(3, 2rem);
    }
  }
}

.tarjeta {
  width: 35rem;
  margin: 0 auto;
  @include m.tablet { 
    max-width: unset;
  }

  &__imagen {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: .2rem solid v.$blanco;
    transition: transform 300ms;
    &:hover {
      transform: rotate(4deg) scale(1.3);
    }
  }

  &__contenido {
    max-width: 90%;
    margin: 0 auto;
    transform: translateY(-5rem);
    background-color: v.$blanco;
  }

  &__titulo {
    @include m.tituloCursiva;
    padding: 1rem;
  }

  &__enlace {
    @include m.boton(v.$secundario, v.$blanco);
    display: block;
  }
}
